# Dependencies
node_modules/

# Next.js
.next/
out/

# Build
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*

# Env
.env*.local

# Superpowers
.superpowers/

# Large files
*.pdf
!public/files/cv/*.pdf
.worktrees/
